<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ESISA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture == null || projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture.Name == "fr-FR")
                    {
                        <li>@Html.ActionLink("À propos de école", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        if (User.Identity.IsAuthenticated)
                        {
                            <li><a> @projet_asp.Resources.MyResource.bnj @User.Identity.Name</a></li>

                            <li>@Html.ActionLink("Se déconnecter", "Logout", "Accounts")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Connexion", "Login", "Accounts")</li>
                            <li>@Html.ActionLink("S'inscrire", "Create", "Etudiants")</li>

                        }

                    }
                    else if (projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture == null || projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture.Name == "ar-MA")
                    {
                        <li>@Html.ActionLink("حول المدرسة", "About", "Home")</li>
                        <li>@Html.ActionLink("اتصال", "Contact", "Home")</li>
                        if (User.Identity.IsAuthenticated)
                        {
                            <li><a> @projet_asp.Resources.MyResource.bnj @User.Identity.Name</a></li>

                            <li>@Html.ActionLink("تسجيل خروج", "Logout", "Accounts")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("تسجيل الدخول", "Login", "Accounts")</li>
                            <li>@Html.ActionLink("اشتراك", "Create", "Etudiants")</li>

                        }
                    }
                    else if (projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture == null || projet_asp.Resources.ModelsResources.Account.ResourceAccount.Culture.Name == "en-US")
                    {
                        <li>@Html.ActionLink("About school", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        if (User.Identity.IsAuthenticated)
                        {
                            <li><a>@projet_asp.Resources.MyResource.bnj @User.Identity.Name</a></li>

                            <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
                            <li>@Html.ActionLink("Signup", "Create", "Etudiants")</li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>@RenderBody()
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
